*.js
*.yaml
!jest.config.js
*.d.ts
node_modules

# CDK asset staging directory
.cdk.staging
cdk.out

lib/*.ignore

.DS_Store
.idea
.vscode

*.ignore
tests
lambda/*/*.zip

# python libs
certifi*
aiohttp*
async_timeout*
chardet*
elasticsearch*
idna*
requests*
urllib3*
maxminddb*
yarl*
multidict*
geoip2*
attr*
typing_extensions*
aws_lambda_powertools*
aws_xray_sdk*
fastjsonschema*
jmespath*
jsonpickle*
libfuturize*
libpasteurize*
past*
python_dateutil-2.8.1*
wrapt*
crhelper*